@model IEnumerable<SiteTeste.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}
<h1 style="color: white; text-align: center">Fornecedores</h1>
<p>
    <a asp-action="Create" style="padding: 10px" class="btn btn-primary">Cadastrar Fornecedor</a>
    @*<a asp-controller="CadastroFornecedor" asp-action="Index">Adicionar Fornecedor</a>*@
</p>
<table class="table table-hover thead-dark table-borderless table-dark">
    <thead  class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
